.venmo-button {
  cursor: pointer;
  font-family: "Proza Libre", sans-serif;
  font-weight: 800;
  font-style: italic;
  border-radius: 0.5rem;
  border: none;
  background-color: #008CFF;
  color: #FFFFFF;
}