<img src="assets/ripped.svg" alt="Ripped Paper" class="ripped" />
<div class="section">
  <div class="section-content">
    <div class="nav-wrapper">
      <app-msp-logo-dark class="logo" />
      <div class="section-text">
        <h2 class="fadeIn">Main Street Playhouse</h2>
        <h2 class="fadeIn">Tremonton, Utah</h2>
        <h2 class="fadeIn">© 2014 - 2025</h2>
      </div>
      <div class="social-wrapper">
        <app-insta-logo class="social" />
        <app-face-logo class="social" />
      </div>
    </div>
  </div>
</div>
