@use "../../../../colors.scss" as *;

.ripped {
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-top: -5em;
}

.section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  padding-bottom: 5em;
  height: 50vh;

  .section-content {
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    max-width: 85vw;
    height: 100%;
  }

  .section-text {
    color: $brand-black;
    font-family: "NewSpiritCondensed";
    text-align: start;
    z-index: 1;
  }

}
