<div class="section">
  <div class="section-content">
    <div class="section-text">
      <h1 class="fadeIn section-header">
        <em>Upcoming Preformances</em>
      </h1>
    </div>
    <div class="posters-container">
      <ng-container *ngIf="loading">
        <div class="loader-placeholder">
          <app-loader></app-loader>
        </div>
      </ng-container>
      <ng-container *ngIf="!loading">
        <div class="poster-wrapper" *ngFor="let play of plays">
          <img src="{{ play.poster }}" alt="Poster for play" class="poster" />
          <img
            src="assets/Tape.svg"
            alt="Tape"
            [ngClass]="play.id % 2 === 0 ? 'tape-top-left' : 'tape-top-right'"
          />
          <img
            src="assets/Tape.svg"
            alt="Tape"
            [ngClass]="
              play.id % 2 === 0 ? 'tape-bottom-right' : 'tape-bottom-left'
            "
          />
          <div class="button-wrapper">
            <app-button
              text="Get tickets"
              route="/"
              color="#191a18"
              backgroundColor="#ece6d8"
            ></app-button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
