@use "../../../colors.scss" as *;

.poster-wrapper {
  width: 350px;
  height: 500px;
  position: relative;
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  height: 70vh;
  background-color: $brand-white;

  .section-content {
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    max-width: 85vw;
    height: 100%;
  }

  .section-content-small{
    text-align: center !important;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .section-text {
    color: $brand-black;
    font-family: "NewSpiritCondensed";
    text-align: start;
    z-index: 1;
    margin-right: 5em;
  }

  .section-text-small {
    color: $brand-black;
    font-family: "NewSpiritCondensed";
    text-align: center;
    z-index: 1;
  }
  .section-header {
    font-size: 3rem;
  }
}

.show-details {
  margin-bottom: 2em;
}

h2 {
  margin: 0;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.tape-top-left {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-30%, -30%);
  width: 5em;
  z-index: 2;
}

.tape-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(30%, 30%);
  width: 5em;
  z-index: 2;
}

.footer  {
  background-color: $brand-black;
}

.poster-loader {
  height: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: -webkit-linear-gradient(left, #ececec 0px, #f4f4f4 40px, #ececec 80px);
  background-image: -o-linear-gradient(left, #ececec 0px, #f4f4f4 40px, #ececec 80px);
  background-image: linear-gradient(90deg, #ececec 0px, #f4f4f4 40px, #ececec 80px);
  background-size: 250px;
  -webkit-animation: shine-loading-image 2s infinite ease-out;
          animation: shine-loading-image 2s infinite ease-out;
}

@-webkit-keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}


@keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}