<div class="section pb-32 pt-4 sm:pt-14 avg:pt-32 avg:pb-24">
  <div class="section-content avg:flex hidden">
    <div class="section-text">
      <h1 class="fadeIn xl:text-5xl lg:text-4xl sm:text-3xl underline">
        <em>Get Tickets</em>
      </h1>
      <div class="show-details xl:text-base lg:text-sm sm:text-xs text-[10px]">
        <h2 class="fadeIn">&#8226; Each ticket is 10$</h2>
        <h2 class="fadeIn">&#8226; Cash, Check, or Venmo are the only <br> accepted forms of payment</h2>
        <h2 class="fadeIn">&#8226; Include date and show name if <br> you're using Venmo</h2>
      </div>

      <app-venmo-button></app-venmo-button>
    </div>
    <div class="relative w-full xl:max-w-[350px] lg:max-w-[300px] max-w-[250px] ">
      <img
        src="assets/venmo.svg"
        alt="Venmo QR Code"
        class="poster rounded-lg"
      />
      <img src="assets/Tape.svg" alt="Tape" class="tape-top-left" />
      <img src="assets/Tape.svg" alt="Tape" class="tape-bottom-right" />
    </div>
    
  </div>
  <div class="section-content-small avg:hidden flex flex-col">
    <div class="section-text-small py-4">
      <h1 class="fadeIn sm:text-4xl text-3xl underline">
        <em>Get Tickets</em>
      </h1>
    </div>

    <div class="relative w-full sm:max-w-[300px] xs:max-w-[250px] max-w-[200px]">
      <img
        src="assets/venmo.svg"
        alt="Venmo QR Code"
        class="poster rounded-lg"
      />
      <img src="assets/Tape.svg" alt="Tape" class="tape-top-left" />
      <img src="assets/Tape.svg" alt="Tape" class="tape-bottom-right" />
    </div>

    <div class="section-text-small">
      <div class="show-details sm:text-xs text-[10px] pt-8">
        <h2 class="fadeIn">&#8226; Each ticket is 10$</h2>
        <h2 class="fadeIn">&#8226; Cash, Check, or Venmo are the only <br> accepted forms of payment</h2>
        <h2 class="fadeIn">&#8226; Include date and show name if <br> you're using Venmo</h2>
      </div>
    </div>

    <app-venmo-button></app-venmo-button>
  </div>
</div>
<div class="footer">
  <app-footer [lightStyle]="false"></app-footer>
</div>
