<div class="hero">
  <img
    src="https://mainstreetimages.blob.core.windows.net/image/msp_hero.png"
    alt="Main Street Playhouse Hero Image"
    class="hero-image"
  />
  <div class="hero-text">
    <h1>
      Heartfelt performances, homegrown talent, and
      <em>timeless</em> stories—bringing the Bear River Valley together through
      the magic of live theatre.
    </h1>
    <p>The Heart of Local Theatre Since 2014</p>
  </div>
  <img src="assets/ripped.svg" alt="Ripped Paper" class="hero-paper" />
</div>
