<div class="hero">
  <img
    src="https://mainstreetimages.blob.core.windows.net/image/msp_hero.png"
    alt="Main Street Playhouse Hero Image"
    class="hero-image"
  />
  <div class="hero-text avg:max-w-8/10 lg:w-fit max-w-9/10 w-full">
    <h1
      class="fadeIn xl:text-4xl lg:text-2xl avg:text-xl md:text-2xl sm:text-xl xs:text-lg text-base"
    >
      Heartfelt performances, homegrown talent, and
      <em>timeless</em> stories—bringing the Bear River Valley together through
      the magic of live theatre.
    </h1>
    <p class="fadeIn">The Heart of Local Theatre Since 2014</p>
  </div>
  <app-sectionone></app-sectionone>
  <app-sectiontwo></app-sectiontwo>
  <app-sectionthree></app-sectionthree>
</div>
