<div class="hero">
  <img
    src="https://mainstreetimages.blob.core.windows.net/image/street-view (1).jpg"
    alt="Main Street Playhouse Hero Image"
    class="hero-image"
  />
  <div class="hero-text avg:max-w-8/10 lg:w-fit max-w-9/10 w-full">
    <h1
      class="fadeIn xl:text-4xl lg:text-2xl avg:text-xl md:text-2xl sm:text-xl xs:text-lg text-base"
    >
        About Main Street Playhouse
    </h1>

  </div>
  <img src="assets/ripped.svg" alt="Ripped Paper" class="ripped" />
  <div class="section md:mt-[-5rem] sm:mt-[-2.5rem]">
    <div class="section-content avg:flex hidden">
      <img
        src="https://mainstreetimages.blob.core.windows.net/image/judean.svg"
        alt="Mural"
        class="w-fit xl:h-3/4 lg:h-1/2 md:h-1/2 mr-20"
      />
      <div class="section-text">
        <h1
          class="fadeIn 2xl:text-4xl xl:text-3xl lg:text-2xl md:text-xl underline"
        >
          <em>History of the Playhouse</em>
        </h1>
        <h2 class="fadeIn 2xl:text-2xl xl:text-lg lg:text-base md:text-sm">
            Started in 2014 by Judean and Blake Parkinson, the Main Street
            has become a cherished, locally run non-profit theater nestled in the 
            heart of the Bear River Valley. What started as a passion project for 
            Judean and Blake quickly grew into a beloved cultural hub, where neighbors
            come together to enjoy high-quality performances, from classic plays to
            contemporary works. With a deep commitment to fostering local talent
            and providing affordable entertainment, the Main Street Playhouse
            continues to be a beacon of creativity and community spirit.
        </h2>
      </div>
    </div>
    <div class="section-content avg:hidden flex">
      <div class="section-text flex items-center flex-col">
        <h1 class="fadeIn sm:text-3xl text-2xl underline mb-1">
          <em>History of the Playhouse</em>
        </h1>
        <h2 class="fadeIn sm:text-lg text-base text-center mt-1">
            Started in 2014 by Judean and Blake Parkinson, the Main Street
            has become a cherished, locally run non-profit theater nestled in the 
            heart of the Bear River Valley. What started as a passion project for 
            Judean and Blake quickly grew into a beloved cultural hub, where neighbors
            come together to enjoy high-quality performances, from classic plays to
            contemporary works. With a deep commitment to fostering local talent
            and providing affordable entertainment, the Main Street Playhouse
            continues to be a beacon of creativity and community spirit.
        </h2>
        <img
          src="https://mainstreetimages.blob.core.windows.net/image/judean.svg"
          alt="Mural"
          class="sm:w-3/5 w-4/5 h-full"
        />
      </div>
    </div>
  </div>
  <div class="footer avg:mt-0 sm:mt-24 mt-48">
    <app-footer [lightStyle]="false"></app-footer>
  </div>
</div>
