<div class="section">
  <div class="section-content">
    <div class="section-text">
      <h1 class="fadeIn section-header">
        <em>Currently Showing</em>
      </h1>
      <div class="show-details">
        <h2 class="fadeIn">
          <em>Benefit Variety Show for Matt Stewart Family</em>
        </h2>
        <h2 class="fadeIn">
          <em>Directed by JuDean Parkinson</em>
        </h2>
        <h2 class="fadeIn">
          <em>May 9th - May 10th</em>
        </h2>
      </div>

      <app-button
        text="Get tickets"
        route="/"
        color="#ece6d8"
        backgroundColor="#191a18"
      ></app-button>
    </div>
    <div class="poster-wrapper">
      <img
        src="https://mainstreetimages.blob.core.windows.net/image/benefit.jpg"
        alt="Poster for play"
        class="poster"
      />
      <img src="assets/Tape.svg" alt="Tape" class="tape-top-left" />
      <img src="assets/Tape.svg" alt="Tape" class="tape-bottom-right" />
    </div>
  </div>
</div>
