<div class="section pb-32 pt-4 sm:pt-14 avg:pt-32 avg:pb-24">
  <div class="section-content avg:flex hidden">
    <div class="section-text">
      <h1 class="fadeIn xl:text-5xl lg:text-4xl sm:text-3xl underline">
        <em *ngIf="!playId">Currently Showing</em>
        <em *ngIf="playId">Show Coming Soon</em>
      </h1>
      <ng-container *ngIf="loading">
        <div class="loader-placeholder h-[150px]">
          <app-loader-dark></app-loader-dark>
        </div>
      </ng-container>
      <div *ngIf="!loading" class="show-details xl:text-base lg:text-sm sm:text-xs text-[10px]">
        <h2 class="fadeIn">"{{currentPlay.title}}"</h2>
        <h2 class="fadeIn">Directed By {{currentPlay.director}}</h2>
        <h2 class="fadeIn">{{currentPlay.dates_showing}}</h2>
      </div>

      <app-button
        text="Get tickets"
        [isDialogButton]="true"
        color="#ece6d8"
        backgroundColor="#191a18"
        [play]="currentPlay"
      ></app-button>
    </div>
    
    <div class="relative w-full xl:max-w-[350px] lg:max-w-[300px] max-w-[250px] aspect-[2/3]">  
      <div *ngIf="loading" class="poster-loader xl:w-[350px] lg:w-[300px] w-[250px] aspect-[2/3]"></div>
      <img
        *ngIf="!loading"
        src={{currentPlay.poster}}
        alt="Poster for play"
        class="poster"
      />
      <img src="assets/Tape.svg" alt="Tape" class="tape-top-left" />
      <img src="assets/Tape.svg" alt="Tape" class="tape-bottom-right" />
    </div>
  </div>
  <div class="section-content-small avg:hidden flex flex-col">
    <div class="section-text-small py-4">
      <h1 class="fadeIn sm:text-4xl text-3xl underline">
        <em>Currently Showing</em>
      </h1>
    </div>

    <div class="relative w-full sm:max-w-[300px] xs:max-w-[250px] max-w-[200px] aspect-[2/3]">
      <div *ngIf="loading" class="poster-loader sm:w-[300px] xs:w-[250px] w-[200px] aspect-[2/3]"></div>
      <img
        *ngIf="!loading"
        src={{currentPlay.poster}}
        alt="Poster for play"
        class="poster"
      />
      <img src="assets/Tape.svg" alt="Tape" class="tape-top-left" />
      <img src="assets/Tape.svg" alt="Tape" class="tape-bottom-right" />
    </div>

    <div class="section-text-small">
      <ng-container *ngIf="loading">
        <div class="loader-placeholder h-[75px] pt-8">
          <app-loader-dark></app-loader-dark>
        </div>
      </ng-container>
      <div *ngIf="!loading" class="play-title my-6">
        <h3 class="fadeIn">"{{ currentPlay.title }}"</h3>
        <h4 class="fadeIn my-0">Directed By {{ currentPlay.director }}</h4>
        <h4 class="fadeIn my-0">{{currentPlay.dates_showing}}</h4>
      </div>
    </div>

    <app-button
      text="Get tickets"
      [isDialogButton]="true"
      color="#ece6d8"
      backgroundColor="#191a18"
      [play]="currentPlay"
    ></app-button>
  </div>
</div>
<div class="footer">
  <app-footer [lightStyle]="false"></app-footer>
</div>
